<mat-toolbar class="gap-2 flex-wrap h-100 p-2">
  @let selectedFolder = folderManagerStore.selectedFolder();
  <button (click)="onAddNewFolder()" mat-stroked-button>
    <mat-icon>create_new_folder</mat-icon>
    Add Folder
  </button>

  <button (click)="onRenameFolder(selectedFolder)" mat-stroked-button [disabled]="!selectedFolder">
    <mat-icon>edit</mat-icon>
    Edit {{ selectedFolder?.name ?? 'Folder' }}
  </button>

  <button
    *appRole="['admin']"
    (click)="onDeleteFolder(selectedFolder)"
    mat-stroked-button
    [disabled]="!selectedFolder"
  >
    <mat-icon>delete</mat-icon>
    Delete {{ selectedFolder?.name ?? 'Folder' }}
  </button>

  <button (click)="onUploadFile(selectedFolder)" mat-stroked-button [disabled]="!selectedFolder">
    <mat-icon>upload</mat-icon>
    Upload to {{ selectedFolder?.name ?? 'Folder' }}
  </button>

  <app-folder-filter class="ms-auto" />
</mat-toolbar>
