<mat-toolbar class="gap-2 flex-wrap h-100 p-2">
  @let selectedFolder = folderManagerStore.selectedFolder();
  @let selectMode = folderManagerStore.selectMode();
  <button (click)="onAddNewFolder()" mat-stroked-button>
    <mat-icon>create_new_folder</mat-icon>
    Add Folder
  </button>

  <button
    (click)="onRenameFolder(selectedFolder)"
    mat-stroked-button
    [disabled]="!selectedFolder || selectMode"
  >
    <mat-icon>edit</mat-icon>
    Edit {{ selectedFolder?.name ?? 'Folder' }}
  </button>

  <button
    *appRole="['admin']"
    (click)="onDeleteFolder(selectedFolder)"
    mat-stroked-button
    [disabled]="!selectedFolder && !selectMode"
  >
    <mat-icon>delete</mat-icon>
    Delete {{ !selectMode ? (selectedFolder?.name ?? 'Folder') : 'Many' }}
  </button>

  <button
    (click)="onUploadFile(selectedFolder)"
    mat-stroked-button
    [disabled]="!selectedFolder || selectMode"
  >
    <mat-icon>upload</mat-icon>
    Upload to {{ selectedFolder?.name ?? 'Folder' }}
  </button>

  <button (click)="onToggleSelectMode()" mat-stroked-button>
    Select Mode {{ selectMode ? 'On' : 'Off' }}
  </button>

  <app-folder-filter class="ms-auto" />
</mat-toolbar>
