<mat-form-field class="search-input me-2" appearance="fill">
  <mat-label>Search folder and file</mat-label>
  <input matInput #searchTermInput="matInput" (input)="onSearchTermChange($event)" />
</mat-form-field>
<mat-form-field class="search-input">
  <mat-label>Search Field</mat-label>
  <mat-select value="name" #searchFieldSelect (selectionChange)="onSearchFieldChange($event)">
    @for (field of searchFields; track field) {
      <mat-option [value]="field">{{ field }}</mat-option>
    }
  </mat-select>
</mat-form-field>
